* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif;
  color: hsl(0, 0%, 10%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 15px;
}

.page-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-logo {
  width: 200px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 24px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  color: hsl(0, 0%, 10%);
}

.nav-link:link,
.nav-link:visited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  transition: color 0.15s ease-in-out;
}

.nav-link:hover,
.nav-link-visited {
  color: hsl(0, 100%, 60%);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
}

.search-bar {
  height: 48px;
  padding: 8px 16px;
  width: 300px;
  border-radius: 15px;
  border: 1px solid #848484;
  font-size: 18px;
}

.search-bar-img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  transform: translate(50%, 0);
  cursor: pointer;
}

.btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 85%);
  transition: background-color 0.15s ease-in-out;
}

.btn:hover {
  background-color: hsl(0, 0%, 80%);
}

.shopping-cart-logo,
.wishlist-logo {
  height: 24px;
  width: 24px;
  stroke: hsl(0, 0%, 10%);
}

.instagram-logo {
  height: 44px;
  width: auto;
}

/* Article */

.container {
  width: 1200px;
  margin: 0 auto;
}

.first-section-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 64px;
}

.hero-first-container {
  background-image: url(/images/page-image/بنر-سایت-1.jpg);
  background-size: cover;
  height: 525px;
  width: 625px;
  border-radius: 25px;
  padding: 35px;
}
.hero-second-container {
  background-image: url(/images/page-image/جدید.jpg);
  background-size: cover;
  height: 525px;
  width: 625px;
  border-radius: 25px;
  padding: 35px;
}

.see-more {
  color: #d42929;
  transition: color 0.15s ease-in-out;
}

.see-more:hover {
  color: #ff0000;
}

/* Image title section */

.image-text-container {
  display: flex;
  align-items: center;
}

.image-title-container {
  display: flex;
  flex-flow: column;
  gap: 20px;
  font-size: 44px;
  font-weight: bold;
  padding-top: 90px;
}

.pink {
  color: #e6023f;
}

.blue {
  color: #3f51b5;
}

.dark-blue {
  color: #0c3259;
}

.orange {
  color: #ff6f1c;
}

.bright-blue {
  color: #001fbc;
}

.green {
  color: #0c6b00;
}

.btn--pink {
  background-color: #e6023f;
  transition: background-color 0.15s ease-in-out;
}

.btn--pink:hover {
  background-color: #c00335;
}

.btn--blue {
  background-color: #3f51b5;
  transition: background-color 0.15s ease-in-out;
}

.btn--blue:hover {
  background-color: #2d3e9e;
}

.btn--dark-blue {
  background-color: #0c3259;
  transition: background-color 0.15s ease-in-out;
}

.btn--dark-blue:hover {
  background-color: #082440;
}

.btn--orange {
  background-color: #ff6f1c;
  transition: background-color 0.15s ease-in-out;
}

.btn--orange:hover {
  background-color: #d15b16;
}

.btn--bright-blue {
  background-color: #001fbc;
  transition: background-color 0.15s ease-in-out;
}

.btn--bright-blue:hover {
  background-color: #001060;
}

.btn--green {
  background-color: #0c6b00;
  transition: background-color 0.15s ease-in-out;
}

.btn--green:hover {
  background-color: #094f00;
}

.image-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: hsl(0, 0%, 90%);
  border-radius: 5px;
  padding: 8px 32px;
  font-weight: 900;
  text-align: center;
}

.btn-icon {
  width: 22px;
  height: 22px;
}

/* Second section */

.second-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 16px;
  margin-bottom: 44px;
}

.second-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.second-section-carts {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 24px;
  column-gap: 16px;
}

.section-carts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  border: 1px solid #c3c3c3;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  padding-bottom: 20px;
  row-gap: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
}

.section-carts:hover {
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.section-carts:hover .second-section-product-price {
  color: #ff2f2f;
  transition: color 0.15s ease-in-out;
}

.section-cart-info {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 8px;
}

.section-images {
  height: auto;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.first-section-product-info {
  font-size: 20px;
  color: hsl(0, 0%, 10%);
}
.second-section-product-price {
  font-size: 18px;
  color: hsl(0, 0%, 15%);
  transition: color 0.15s ease-in-out;
}

/* Button section */

.btn-section {
  margin-bottom: 44px;
}
.see-more-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.see-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 32px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #ff2f2f;
  color: hsl(0, 0%, 90%);
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: hsl(0, 0%, 90%);
}

.see-more-btn:hover {
  background-color: #d42929;
}

/* Persona container */

.persona-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 16px;
  margin-bottom: 44px;
}

.personality-products {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.feature-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.personality-btn {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transform: translate(0, -50%);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out,
    transform 0.15s ease-in-out;
}

.personality-btn:hover {
  background-color: #000;
  color: hsl(0, 0%, 95%);
  transform: translate(0, -75%);
  box-shadow: none;
}

/* Discount section */

.discount-section {
  margin-bottom: 32px;
}

.discount-section-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 16px;
}

.discount-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-header h3 {
  font-size: 24px;
}

.discount-carts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}

.discount-carts {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid #c3c3c3;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.discount-carts:hover {
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.discount-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.discount-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
}

.disount-product-name {
  color: hsl(0, 0%, 10%);
}

.discount-price-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  gap: 8px;
}

.discount-product-real-price {
  color: hsl(0, 0%, 15%);
}

.discount-product-before-price {
  color: #e74c3c;
  text-decoration: line-through;
}

.discount {
  position: absolute;
  top: 4%;
  right: 4%;
  padding: 4px 8px;
  background-color: #d42929;
  border-radius: 20px;
  color: hsl(0, 0%, 95%);
}

/* Second hero section */

.hero-third-container {
  background-image: url(/images/last-section/28.jpg);
  background-size: cover;
  height: 525px;
  width: 625px;
  border-radius: 25px;
  padding: 35px;
}
.hero-fourth-container {
  background-image: url(/images/last-section/20.jpg);
  background-size: cover;
  height: 525px;
  width: 625px;
  border-radius: 25px;
  padding: 35px;
}

/* Most sales container */

.most-sales-container {
  margin-bottom: 44px;
}

.most-sales-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.most-sales-header h3 {
  font-size: 24px;
}

.most-sales-carts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}

.most-sales-carts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  border: 1px solid #c3c3c3;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  padding-bottom: 20px;
  row-gap: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  padding-bottom: 20px;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.most-sales-carts:hover {
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.most-sales-carts-picture {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.most-sales-carts-info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px;
  gap: 8px;
}

.most-sales-products-name {
  font-size: 16px;
}

.most-sales-products-price {
  font-size: 16px;
  transition: color 0.15s ease-in-out;
}

.most-sales-products-price:hover {
  transition: color 0.15s ease-in-out;
}

.most-sales-carts:hover .most-sales-products-price {
  color: #ff0000;
  transition: color 0.15s ease-in-out;
}

/* Before footer section */

.before-footer-section {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.before-footer-image-container-first {
  background-image: url(/images/before-footer-image/23.jpg);
  background-size: cover;
  height: 525px;
  width: 625px;
  border-radius: 25px;
  padding: 35px;
}

.before-footer-image-container-second {
  background-image: url(/images/before-footer-image/1-23.jpg);
  background-size: cover;
  height: 525px;
  width: 625px;
  border-radius: 25px;
  padding: 35px;
}

.before-footer-image {
  width: 100%;
  border-radius: 15px;
}

/* Footer */

footer {
  margin-bottom: 44px;
}

.footer-container {
  width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 1fr;
  column-gap: 24px;
  align-items: center;
  background-color: #eff5fc;
  border-radius: 10px;
  padding: 16px 32px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

.about-us-container {
  display: grid;
  row-gap: 16px;
  line-height: 1.5;
}

.about-us-container div {
  font-size: 12px;
}

.shop-logo {
  width: 70%;
  margin-bottom: 16px;
}

.attention-text {
  color: #ff2f2f;
}

.call-us {
  display: grid;
  row-gap: 16px;
  font-size: 12px;
}

.social-media-container {
  display: flex;
  align-items: flex-e;
}

.social-media-images {
  width: 50px;
  margin-left: 20px;
}

.telephone-number-container {
  font-size: 12px;
}

.workday {
  color: #ff2f2f;
  font-size: 12px;
}

.rules,
.weblog {
  color: #868e96;
}

.rules:hover,
.weblog:hover {
  color: #d42929;
}
